/**
 * @package 	WordPress
 * @subpackage 	Kids R Us
 * @version 	1.0.0
 * 
 * Responsive Design Yith WooCommerce Quick View CSS Rules
 * Created by CMSMasters
 * 
 */
@media only screen {
  /*-------------------------------------------------------------------------*/
  /*	Small Tablet Monitor
	/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /*	Phone Monitor
	/*-------------------------------------------------------------------------*/
}
@media only screen and (max-width: 768px) {
  html {
    /***************** Free Version - Single Product Quick View ******************/
    /***************** Premium Version - Single Product Quick View ******************/
  }
  html #yith-quick-view-modal .single-product div.summary .product_meta > span .cmsmasters_product_meta_title {
    width: auto;
  }
  html #yith-quick-view-modal .single-product {
    padding-right: 0;
  }
  html #yith-quick-view-modal .single-product > .product {
    max-height: 100%;
    overflow: auto;
  }
  html #yith-quick-view-modal .single-product > .product > .product > div.images,
  html #yith-quick-view-modal .single-product > .product > .product > div.summary {
    float: none;
    width: 100%;
    max-height: 100%;
  }
  html #yith-quick-view-modal .single-product > .product > .product > div.images {
    margin: 0 0 40px;
    padding: 0 15px 0 0;
  }
  html .yith-quick-view.yith-modal .single-product > .product > .product div .images,
  html .yith-quick-view.yith-inline .single-product > .product > .product div .images {
    float: none !important;
    width: 100% !important;
    padding-right: 0;
  }
  html .yith-quick-view.yith-modal .single-product div.summary .summary-content,
  html .yith-quick-view.yith-inline .single-product div.summary .summary-content {
    float: none !important;
    width: 100% !important;
  }
  html .yith-quick-view.yith-modal .single-product div.summary .product_meta > span .cmsmasters_product_meta_title,
  html .yith-quick-view.yith-inline .single-product div.summary .product_meta > span .cmsmasters_product_meta_title {
    width: auto;
  }
  html .woocommerce .products .product:nth-of-type(2n),
  html .woocommerce-page .products .product:nth-of-type(2n) {
    float: left;
  }
}
@media only screen and (max-width: 540px) {
  html {
    /***************** Free Version - Single Product Quick View ******************/
  }
  html .yith-wcqv-wrapper .summary-content {
    padding-bottom: 30px;
  }
  html #yith-quick-view-modal .single-product > .product > .product > div.summary .cart .quantity {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
  }
  html #yith-quick-view-modal .single-product > .product > .product > div.summary .cart .quantity + .single_add_to_cart_button {
    margin: 0;
  }
  html .yith-quick-view.yith-modal .single-product div.summary .cart .quantity {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
  }
  html .yith-quick-view.yith-modal .single-product div.summary .cart .quantity + .single_add_to_cart_button {
    margin: 0;
  }
}
