/**
 * @package 	WordPress
 * @subpackage 	Kids R Us
 * @version 	1.0.0
 * 
 * WooCommerce Responsive CSS Rules
 * Created by CMSMasters
 * 
 */
@media only screen {
  /*-------------------------------------------------------------------------*/
  /* Large Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Medium Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Tablet Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /*Tablet Monitor 950
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Small Tablet Monitor 768
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /*	Tablet Monitor 600
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Phone Monitor
/*-------------------------------------------------------------------------*/
}
@media only screen and (min-width: 1440px) {
  ul.order_details li {
    padding: 15px 30px;
  }
  .cmsmasters_single_product .cmsmasters_product_right_column {
    padding-top: 25px;
  }
}
@media only screen and (min-width: 1025px) {
  .cmsmasters_products {
    outline: none;
  }
}
@media only screen and (max-width: 1024px) {
  #header .cmsmasters_dynamic_cart .widget_shopping_cart_content {
    display: none;
  }
  .cmsmasters_product .button_to_cart_wrap {
    bottom: 0;
    top: auto;
    opacity: 1;
  }
  .cmsmasters_products.columns-6 .product {
    width: 29.93%;
  }
  .cmsmasters_products.columns-6 .product:nth-child(6n+1) {
    clear: none;
  }
  .cmsmasters_products.columns-6 .product:nth-child(3n+1) {
    clear: left;
  }
  .cmsmasters_products.columns-5 .product {
    width: 29.93%;
  }
  .cmsmasters_products.columns-5 .product:nth-child(5n+1) {
    clear: none;
  }
  .cmsmasters_products.columns-5 .product:nth-child(3n+1) {
    clear: left;
  }
  .cmsmasters_products.columns-4 .product {
    width: 46.6%;
  }
  .cmsmasters_products.columns-4 .product:nth-child(4n+1) {
    clear: none;
  }
  .cmsmasters_products.columns-4 .product:nth-child(2n+1) {
    clear: left;
  }
  ul.order_details:after {
    display: none;
    visibility: hidden !important;
  }
  ul.order_details li {
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
  }
  ul.order_details li:last-child {
    border-bottom-width: 0;
    border-bottom-style: solid;
  }
  ul.order_details li strong {
    float: right;
    padding: 0 0 0 15px;
    margin: 0;
  }
}
@media only screen and (max-width: 950px) {
  .widget_shopping_cart .widget_shopping_cart_content .buttons .button {
    width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .cmsmasters_dynamic_cart_wrap {
    margin: 0 0 0 12px;
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  .cmsmasters_woo_tabs .cmsmasters_tabs_list_item {
    width: 100%;
  }
  .cmsmasters_dynamic_cart,
  .cmsmasters_dynamic_cart .cmsmasters_dynamic_cart_button {
    display: inline-block;
  }
  .col2-set > * {
    width: 96.6%;
    margin-bottom: 40px;
    float: none;
    clear: both;
  }
  .col2-set > *:last-child {
    margin-bottom: 0;
  }
  .cmsmasters_single_product .cmsmasters_product_left_column {
    margin-bottom: 30px;
    width: 100%;
    float: none;
  }
  .cmsmasters_single_product .cmsmasters_product_right_column {
    width: 100%;
    float: none;
    padding: 0;
  }
  #page .cart .remove {
    position: absolute;
    right: 0;
    top: 5px;
  }
  .shop_table.cart {
    display: block;
    border-width: 1px;
    border-style: dashed;
    text-align: center;
    overflow: hidden;
  }
  .shop_table.cart tbody,
  .shop_table.cart tr,
  .shop_table.cart th,
  .shop_table.cart td {
    display: block;
    border: 0;
    text-align: center;
    overflow: hidden;
  }
  .shop_table.cart thead {
    display: none;
  }
  .shop_table.cart tr {
    border-top-width: 1px;
    border-top-style: dashed;
  }
  .shop_table.cart tr:first-child {
    border-top-width: 0;
    border-top-style: solid;
  }
  .shop_table.cart .cart_item {
    padding: 0;
    position: relative;
    margin-bottom: 30px;
  }
  #page .shop_table.cart td {
    width: auto;
    padding: 10px 15px;
    text-align: center;
  }
  #page .shop_table.cart td.actions {
    text-align: left;
  }
  #page .shop_table.cart td.product-thumbnail img {
    max-width: 85px;
    width: auto;
  }
  .shop_table.cart td.product-remove-and-thumbnail {
    padding-top: 30px !important;
  }
  .shop_table.cart td .variation {
    margin-top: 5px;
    text-align: center;
  }
  .shop_table.cart td .variation .variation-Colors {
    float: none;
    display: inline-block;
  }
  .shop_table.cart .product-remove-and-thumbnail {
    width: 100%;
  }
  .shop_table.cart .product-price,
  .shop_table.cart .product-quantity,
  .shop_table.cart .product-subtotal {
    display: inline-block;
    width: 33.33%;
    margin: 0 -2px;
    vertical-align: middle;
  }
  .shop_table.cart .product-price {
    text-align: right;
  }
  .shop_table.cart .product-quantity {
    padding: 10px 0;
  }
  .shop_table.cart .product-subtotal {
    text-align: left;
  }
  .shop_table.cart .actions .coupon {
    padding: 20px 0;
    float: none;
    min-width: auto;
  }
  .shop_table.cart .actions .input-text {
    display: block;
    margin: 0 auto 20px;
    max-width: 100% !important;
  }
  .shop_table.cart.shop_table_responsive thead:first-child td,
  .shop_table.cart.shop_table_responsive tr:first-child td,
  .shop_table.cart.shop_table_responsive thead:first-child th,
  .shop_table.cart.shop_table_responsive tr:first-child th {
    margin-bottom: 0;
    border-width: 0;
    border-style: solid;
  }
  .shop_table.woocommerce-checkout-review-order-table th,
  .shop_table.order_details th,
  .shop_table.woocommerce-checkout-review-order-table td,
  .shop_table.order_details td {
    padding: 20px 35px;
  }
  .cart_totals table {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .cmsmasters_products.columns-6 .product,
  .cmsmasters_products.columns-5 .product,
  .cmsmasters_products.columns-3 .product {
    width: 96.6%;
    float: none;
  }
  .cmsmasters_products.columns-6 .product:nth-child(n),
  .cmsmasters_products.columns-5 .product:nth-child(n),
  .cmsmasters_products.columns-3 .product:nth-child(n) {
    clear: both;
  }
  ul.order_details li strong {
    float: none;
    display: block;
    padding: 0;
  }
  .wc-proceed-to-checkout {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .wc-proceed-to-checkout .wcppec-checkout-buttons .wcppec-checkout-buttons__separator {
    display: block;
    margin: 10px 0;
    text-align: center;
  }
}
@media only screen and (max-width: 540px) {
  .cmsmasters_products.columns-6 .product,
  .cmsmasters_products.columns-5 .product,
  .cmsmasters_products.columns-4 .product,
  .cmsmasters_products.columns-3 .product,
  .cmsmasters_products.columns-2 .product {
    width: 96.6%;
    float: none;
  }
  .cmsmasters_products.columns-6 .product:nth-child(n),
  .cmsmasters_products.columns-5 .product:nth-child(n),
  .cmsmasters_products.columns-4 .product:nth-child(n),
  .cmsmasters_products.columns-3 .product:nth-child(n),
  .cmsmasters_products.columns-2 .product:nth-child(n) {
    clear: both;
  }
  .widget_shopping_cart .widget_shopping_cart_content .buttons .button {
    width: 100%;
  }
  .shop_attributes th {
    min-width: 150px;
  }
  .form-row {
    width: 96.6%;
    float: none;
    clear: both;
  }
  .woocommerce-message,
  .woocommerce-info {
    text-align: center;
  }
  .woocommerce-message .button,
  .woocommerce-info .button {
    display: block;
    margin: 0 0 20px;
    text-align: center;
  }
  table.variations select {
    display: block;
  }
  table.variations .reset_variations {
    display: inline-block;
    margin: 10px 0 0;
  }
  .cmsmasters_woo_wrap_result .woocommerce-result-count {
    padding: 0 10px 20px;
    float: none;
    text-align: center;
  }
  .cmsmasters_woo_wrap_result .woocommerce-ordering {
    float: none;
  }
  .cmsmasters_single_product .cmsmasters_product_thumbs .cmsmasters_product_thumb {
    width: 60px;
  }
  .cmsmasters_single_product .cmsmasters_product_info_wrap {
    float: none;
    padding: 0 0 30px;
    text-align: left;
  }
  .cmsmasters_single_product .price {
    text-align: left;
  }
  .cmsmasters_single_product .cmsmasters_star_rating {
    float: none;
  }
  .woocommerce-checkout-payment .place-order .terms {
    display: block;
    padding: 15px 0 0;
  }
  ul.order_details li {
    width: 100%;
    float: none;
  }
  .cart_totals table th,
  .cart_totals table td {
    padding: 20px 10px;
  }
  .woocommerce-shipping-calculator {
    max-width: 172px;
  }
  .woocommerce-shipping-calculator .shipping-calculator-form {
    max-width: 172px;
  }
}
